<h1 class="animated fadeIn fast">Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row" *ngIf="arrBusqueda.length == 0">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            No existen resultados con el termino de búsqueda: {{ termino }}
          </div>
    </div>
</div>

<div class="card-columns animated fadeIn">
    
    <app-heroe-tarjeta *ngFor="let heroe of arrBusqueda; let i = index" [heroe]="heroe" [index]="i"></app-heroe-tarjeta>

</div>
